/* thoi gian tour */
.chitiettour{
    padding-top: 30px;
}
.info-tour{
    margin-bottom: 15px;
}
.text-strong{
    font-weight: 600;
    padding-right: 15px;
}
/* list tour */
.ls{
   line-height: 35px;
}
.list-your-detail{
    background: #ffeddf;
    padding: 6px 10px;
    margin-bottom: 15px;
    overflow: hidden;
}
.list-inline .row .price {
    color: #ff891e;
}
.tour-detail-title-information.tour-detail-header-col{
    padding-top: 10px;
    margin-bottom: 10px;
    margin-top: 0px;
    border-bottom: 1px solid #333;
    font-weight: 600;
    text-transform: uppercase;
}
.title-description{
    font-size: 15px;
    line-height: 28px;
    font-weight: 600;
}
.content-description{
    line-height: 22px;
    margin-bottom: 25px;
    white-space: pre-line;
}
.orange-btn{
    margin-bottom: 20px;
    display: inline-block;
    background: #ff891e;
    border: 0;
    margin: 0 auto;
    color: #fff;
    border-radius: 3px;
    line-height: 22px;
    padding: 5px 15px;
}
/* list image */
.isotopeSelector{
    margin-bottom: 25px;
}
.isotopeSelector img{
    width: 100%;
    transition: all 1s ease;
}
.isotopeSelector:hover img{
    transform: scale(1.2);
}
/* chương trình tour */
.tab {
overflow: hidden;
border-bottom: 1px solid #000;
}

.tab button {
background-color: inherit;
float: left;
border: none;
outline: none;
cursor: pointer;
padding: 14px 16px;
transition: 0.3s;
font-size: 17px;
}

.tab button:hover {
background-color: #ddd;
}

.tab button.active{
color: #ff891e;
border: 1px solid #000;
border-bottom-color: transparent;
border-radius: 5px;
}

.tabcontent {
padding: 6px 12px;
border-top: none;
}

/* ho tro khach hang */
.right-detail-tour-box {
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 15px;
    float: left;
    width: 100%;
    margin-bottom: 25px;
}
.right-detail-tour-box .title {
    color: #ff891e;
    font-weight: 600;
    line-height: 30px;
    margin-bottom: 7px;
    float: left;
    width: 100%;
}
.list-rows{
    margin-left: -30px;
}
.list-rows>li, .list-rows>li>a>i, .list-rows>li>a>span{
    color: #333;
}
.item{
    list-style: none;
}