/* ADD YOUR CUSTOM STYLES */
body{
    scroll-behavior: smooth;
    font-size: 14px;
    line-height: 21px;
    color: black;
    font-weight: 400;
    font-family: 'Montserrat', 'Open Sans', sans-serif;
}
/* menu */
@media all and (min-width: 992px) {
    .navbar{ padding-top: 0; padding-bottom: 0; }
    .navbar .has-megamenu{position:static!important;}
    .navbar .megamenu{left:0; right:0; width:100%; padding:20px;  }
    .navbar .nav-link{ padding-top:1rem; padding-bottom:1rem;  }
}
/* ảnh tiêu đề */
.bg-teal , .btn-teal{
    background-color: #236666 !important;
    font-size: 14px;
    color: white;
}
.text-teal{
    color: #236666 !important;
}
.carousel .carousel-indicators li {
    width: 30px;
    height: 5px;
    border-radius: 0%
}
.carousel-caption{
    bottom: 200px;
}
.carousel-item img{
    height: 480px;
}
.input-group{
    margin: 0 auto;
    padding-top: 20px;
}
.isotopeSelector img {
    width: 100%;
}
/* ten tour */
.background-description {
    position: absolute;
    width: 97%;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    color: #ffffff;
    font-size: 15px;
    font-weight: 700;
    padding: 15px 25px;
    max-height: 160px;
    z-index: 100;
}
.background-description .tour-banner-title {
    text-align: left;
    color: #ffffff;
    font-size: 32px;
    width: 100%;
    margin: 15px 0px;
}
h1, h2, h3, h4 {
    font-family: 'Montserrat', 'Open Sans', sans-serif;
    text-transform: uppercase;
    margin-top: 0;
    font-weight: 700;
}
/* giá tour */
.box-tour-price {
    position: absolute;
    padding: 5px 0px;
    top: 35px;
    right: 0px;
    background: #ff891e;
    color: #fff;
    width: 110px;
}
.box-tour-price .text {
    color: #fff;
    text-align: right;
    width: 100%;
    float: left;
    font-size: 12px;
    line-height: 18px;
    padding: 0px 10px;
    margin: 0;
}
.box-tour-price .price {
    color: #fff;
    text-align: right;
    width: 100%;
    float: left;
    font-size: 15px;
    font-weight: 600;
    line-height: 20px;
    padding: 0px 10px;
    margin: 0;
}
.box-tour-price .info {
    color: #fff;
    text-align: right;
    width: 100%;
    float: left;
    font-size: 12px;
    line-height: 18px;
    padding: 0px 10px;
    margin: 0;
}
/* Card */
.inner{
    overflow: hidden;
}
.inner img{
    transition: all 1.5s ease;
}
.inner:hover img{
    transform: scale(1.5);
}
.card.mt-3{
    height: 415px;
}
.btn.btn-teal.btn-sm{
    bottom: 10px;
    position: absolute;
}
.owl-prev{
    left: -30px;
}
.owl-next{
    right: -30px;
}
.owl-prev, .owl-next{
    position: absolute;
    top: 30%;
}
.owl-prev span, .owl-next span{
    font-size: 60px;
    color: #787878;
}
.owl-theme .owl-nav [class*="owl-"]:hover {
    background-color: transparent;
}
/* Banner dịch vụ */
.row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    padding: 0 4px;
  }
.column {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
    padding: 0 4px;
  }
  
.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}
/* Commitment */
.commitment-box{
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 10px;
    display: flex;
    float: left;
    width: 100%;
    margin-bottom: 15px;
}
.commitment-image{
    width: 75px;
    display: flex;
    align-items: center;
}
.commitment-image img{
    width: 80%;
    height: auto;
}
.commitment-content{
    flex: 1;
}
.commitment-taitle{
    font-size: 13px;
    text-align: left;
    text-transform: uppercase;
    line-height: 24px;
    float: left;
    width: 100%;
    padding: 6px 0;
    font-weight: 600;
}
.commitment-description{
    font-size: 13px;
    line-height: 20px;
}
/* Khuyến mãi */
.subscribed-email-promotion{
    background: #036 !important;
    color: #fff;
    position: relative;
}
.subscribed-email-promotion i{
    position: absolute;
    left: 0;
    bottom: 0;
    height: 150px;
    width: 180px;
    background: url(https://saigontourist.net/images/email.png);
    background-repeat: no-repeat;
    background-position: -30px 3px;
}
.info-promotion{
    padding: 25px 25px 25px 200px;
    float: left;
}
.title-info-promotion{
    font-size: 20px;
    line-height: 32px;
    font-weight: 600;
    padding-bottom: 15px;
    float: left;
}
.description-info-promotion{
    font-size: 13px;
    line-height: 22px;
    font-weight: 300;
    float: left;
}
/* Form */
.form .form-group .form-control, .commentsForm .form-group .form-control, .modal.bookingModal .modal-dialog .modal-content .modal-body .form-group .form-control {
    height: 45px;
    background-color: whitesmoke;
    box-shadow: none;
    border-color: #ccc;
    background-color: #e0e0e0;
    color: #000;
    font-family: 'Montserrat', 'Open Sans', sans-serif;
    font-size: 14px;
}
  @media screen and (max-width: 800px) {
    .column {
      -ms-flex: 50%;
      flex: 50%;
      max-width: 50%;
    }
  }
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      -ms-flex: 100%;
      flex: 100%;
      max-width: 100%;
    }
    .carousel-caption{
        bottom: 20px;
    }
    .carousel-caption h5{
        font-size: 30px;
    }
    .carousel-caption p{
        display: none;
    }
  }
      

    